/* Invite Box Styling */
#hangout-invite-wrapper {
  display: none;
  cursor: move;
}
.error-message {
  color: #ff0000;
}

#count-message .second-line {
  display: block;
  padding-top: 7px;
}
#hangout-invite-anchor {
  position: absolute;
}
#hangout-invite-wrapper {
  width: 320px; /* iPhone screen width is 320x480 */
  position: fixed;
  top: 30%;
  left: 30%;
  z-index: 9999;
  -moz-box-shadow: 4px 4px 10px #000;
  -webkit-box-shadow: 4px 4px 10px #000;
  box-shadow: 4px 4px 10px #000;
}
#hangout-invite-header {
  line-height: 14px;
  font-family: 'PT Sans', Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 13px 5px 8px 20px;
  margin: 0 0 0 20px;
}

#hangout-invite-wrapper h3 {
  font-family: 'PT Sans', Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 13px 5px 8px 40px;
  background-color: #2A93D3;
  margin: 0;
}
li.hangout-email-invitee {
  list-style-type: none;
  cursor: default;
}
.hangout-email-invitee .remove {
  color: #888;
  padding: 0 0px 2px 3px;
  border: 1px solid #888;
  border-radius: 2px;
  cursor: pointer;
  line-height: 12px;
  font-size: 12px;
  display: block;
  height: 10px;
  width: 10px;
  float: left;
}

.hangout-email-invitee .remove:hover {
  color: #000;
  background-color: #ccc;
  border: 1px solid #000;
}
li.hangout-email-invitee .invitee-fullname {
  display: inline-block;
  color: #5d7f91;
}

#google-popup-logo {
  float: right;
  margin: -41px 5px 0 0;
  width: 35px;
  height: 35px;
}

#hangout-invite-popup {
  background-color: #f6f6f6;
  padding: 0 0 0 0;
  line-height: 15px;
  padding-top: 3px;
  padding-bottom: 30px;
}
#hangout-invite-popup #jabber-hangout-invites-btn {
  float: right;
  margin: 0 5px 0 0;
  padding: 2px 5px;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: #d7ac3a;
  color: #fff;
  width: 130px;
  height: 25px;
  background: -moz-linear-gradient(top,  rgba(199,188,42,0.5) 0%, rgba(198,182,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199,188,42,0.5)), color-stop(100%,rgba(198,182,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(199,188,42,0.5) 0%,rgba(198,182,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(199,188,42,0.5) 0%,rgba(198,182,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(199,188,42,0.5) 0%,rgba(198,182,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(199,188,42,0.5) 0%,rgba(198,182,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80c7bc2a', endColorstr='#c6b600',GradientType=0 ); /* IE6-9 */
  -moz-box-shadow: 2px 2px 5px #000;
  -webkit-box-shadow: 2px 2px 5px #000;
  box-shadow: 2px 2px 5px #000;
}
#hangout-invite-popup #jabber-hangout-invites-btn:hover {
  background-color: #d7ac3a;
  color: #eee;
  -moz-box-shadow: 1px 1px 5px #000;
  -webkit-box-shadow: 1px 1px 5px #000;
  box-shadow: 1px 1px 5px #000;
}
#hangout-email-list-wrapper {
  padding-bottom: 5px;
}
#close-hangout-invite-popup {
  color: #fff;
  float: left;
  margin: -22px 0 0 10px;
  padding: 5px 2px 6px 2px;
  line-height: 0px;
  border: 1px solid #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  cursor: pointer;
}
#close-hangout-invite-popup:hover {
  color: #ccc;
}
/* End Invite Box Styling */
/* button styling */

.jabber-hangout-invites-btn:hover {
  background: url(../images/gplus-hangout-15x79-sprite.png) no-repeat 0 -20px #92a6b1;
}
.hangout-chat-window {
  margin-top: 10px;
  margin-left: 10px;
}

.remove {
  margin-right: 5px;
}
.remove:hover {
  color: #555;
}
/* end button styling */
/* hangout popup */

.hangout-btn-bubble-wrapper {
  position: relative;
  display: none;
}

.jabber-hangout-btn:hover .hangout-btn-bubble-wrapper {
  display: block;
}

.hidden-user-pic .jabber-hangout-btn:hover .hangout-btn-bubble-wrapper {
  top: 18px;
}

.hangout-btn-bubble {
  display: block;
  color: #fff;
  font-size: 9px;
  padding: 1px 3px;
  border-radius: 5px;
  position: absolute;
}

.hangout-btn-bubble {
  top: -48px;
  left: -15px;
}
.gtalk .hangout-btn-bubble {
  top: -55px;
  left: -15px;
}
.contact-me-button-wrapper .hangout-btn-bubble {
  top: -32px;
  left: -42px;
}
.hangout-btn-bubble:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-bottom: 6px solid transparent;
  position: absolute;
  left: 10px;
}
.hangout-btn-bubble:after {
  left: 15px;
}
.contact-me {
  display: none;
  line-height: 16px;
  width: 95px;
  position: absolute;
  top: -80px;
  left: -3px;
  z-index: 999;
}
.contact-me button {
  display: block;
  text-align: left;
  margin: 1px 0 0;
  padding: 0;
}

.contact-me button a.chat-btn-a {
  display: block;
  font-size: 12px;
  color: #5d7f91;
  font-family: 'PT Sans';
  text-decoration: none;
}
.contact-me button a:hover {
  color: #bbb;
}
.sp-main .region-sidebar-second .view-group-block-members .username .contact-me button a.chat-btn-a {
  display: block;
}

.contact-me .hangout-btn-bubble {
  top: -32px;
  left: -65px;
}
.contact-me .hangout-btn-bubble:after {
  left: 37px;
  border-right: none;
  border-left: 8px solid #9fc56d;
  border-top: 6px solid transparent;
  top: 5px;
}

.contact-me .contact-me-button-wrapper {
  background-color: #f6f6f6;
  padding: 0 0 0 0;
  border: solid 3px #629540;
  border-top: solid 16px #629540;
  line-height: 15px;
  height: 50px;
  padding-top: 3px;
}
.contact-me .close-contact-me {
  color: #fff;
  float: right;
  border: 1px solid #fff;
  line-height: 10px;
  margin-top: 2px;
  margin-right: 2px;
  padding: 0 1px;
  cursor: default;
}

/* google hangout button */
.jabber-hangout-btn-text {
  padding-left: 25px;
}
.jabber-hangout-btn {
  background: url(../images/yellow-hangout-sprite.png) no-repeat 4px 0 transparent;
  padding-bottom: 2px;
  border: none;
}
.jabber-hangout-btn:hover {
  background: url(../images/yellow-hangout-sprite.png) no-repeat 4px -47px transparent;
  border: none;
}

.jabber-hangout-btn a {
  background: url(../images/yellow-hangout-sprite.png) no-repeat 4px 0 transparent;
  padding-bottom: 2px;
}

#chat-area .jabber-hangout-btn a:hover,
.jabber-hangout-btn a:hover {
  background: url(../images/yellow-hangout-sprite.png) no-repeat 4px -47px transparent;
}

.hangout-chat-window {
  margin-top: 10px;
  margin-left: 10px;
}
#buddy-list-wrapper .jabber-hangout-btn {
  font-size: 12px;
  float: right;
  margin-right: 20px;
  margin-top: -3px;
  border-width: 1px;
  border-radius: 3px;
}

/* end google hangout button */

/* hangout popup */

.hangout-sent {
  position: fixed;
  top: 50%;
  left: 40%;
  width: 350px;
  height: auto;
  word-wrap: break-word;
  background-color: #f6f6f6;
  padding: 0 10px 10px 10px;
  z-index: 100;
}

.hangout-sent-inner {
  font-family: 'PT sans';
  font-size: 14px;
}

.close-hangout-sent {
  float: right;
  margin-top: -17px;
  margin-right: -9px;
  color: #fff;
  border: 1px solid #fff;
  padding: 0px 2px 1px;
  line-height: 10px;
  cursor: pointer;
}
.hangout-sent-bold {
  font-weight: bold;
}
.hangout-sent a:visited,
.hangout-sent a {
  display: block;
  float: right;
  margin-top: -15px;
  padding: 1px 10px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  background: -moz-linear-gradient(top,  rgba(199,188,42,0.5) 0%, rgba(198,182,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199,188,42,0.5)), color-stop(100%,rgba(198,182,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(199,188,42,0.5) 0%,rgba(198,182,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(199,188,42,0.5) 0%,rgba(198,182,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(199,188,42,0.5) 0%,rgba(198,182,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(199,188,42,0.5) 0%,rgba(198,182,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80c7bc2a', endColorstr='#c6b600',GradientType=0 ); /* IE6-9 */

  -moz-box-shadow: 2px 2px 5px #000;
  -webkit-box-shadow: 2px 2px 5px #000;
  box-shadow: 2px 2px 5px #000;
  color: #fff;
  text-decoration: none;
}
.hangout-sent a:hover {
  background-color: #d7ac3a;
  color: #eee;
  text-decoration: none;
  -moz-box-shadow: 1px 1px 5px #000;
  -webkit-box-shadow: 1px 1px 5px #000;
  box-shadow: 1px 1px 5px #000;
}
#count-message {
  color: #555;
  padding: 5px;
}

.open-spots-message {
  color: #5d7f91;
  background: url(../images/yellow-hangout-sprite.png) no-repeat 0 6px transparent;
  padding: 5px 0 5px 20px;
}
.open-spots-count {
  font-weight: bold;
}

label[for=edit-droogle-hangout-calendar] {
  font-weight: normal;
}
.schedule-wrapper {
  margin: 0 auto;
  width: 80%;
}

.schedule-wrapper .ui-datepicker-trigger {
  cursor: pointer;
}
/* end hangout popup */


#content #block-droogle-hangout-droogle-hangout-invites h2,
#block-droogle-hangout-droogle-hangout-invites h2 {
  background-color: #2A93D3;
}

#hangout-invite-popup {
  border: solid 5px #2A93D3;
}

.hangout-btn-bubble {
  background-color: #525050;
}

.hangout-btn-bubble:after {
  border-right: 8px solid #525050;
}

#google-popup-logo {
  background: url(../images/hangout_logo_blue.png) no-repeat 0 0 transparent;
}

#close-hangout-invite-popup:hover {
  background-color: #666666
}

.hangout-sent {
  border: solid 3px #2A93D3;
  border-top: solid 20px #2A93D3;
}

.hangout-sent a:visited,
.hangout-sent a {
  background-color: #2A93D3;
}